*{
  box-sizing: border-box;
}

body{
  margin: 0px;
}

.change_factor{
  width: 600px;
  position: relative;
}

.canvas{
  padding: 50%;
  /*background-color: blue;*/
  position: absolute;
}

.left_top{
  padding: 25%;
  /*background-color: white;*/
  position: absolute;
  top: 0px;
  left: 0px;
}

.right_top{
  padding: 25%;
  /*background-color: red;*/
  position: absolute;
  top: 0px;
  right: 0px;
}

.left_botton{
  padding: 25%;
  /*background-color: pink;*/
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.right_botton{
  padding: 25%;
  /*background-color: yellow;*/
  position: absolute;
  bottom: 0px;
  right: 0px;
}


.square_1{
  padding: 5% 10%;
  background-color: black;
  position: absolute;
  bottom: 0px;
  right: 20%;
}

.square_2{
  padding: 5% 10%;
  background-color: black;
  position: absolute;
  bottom: 0px;
  left: 20%;
}

.square_3{
  padding: 5% 10%;
  background-color: black;
  position: absolute;
  top: 0px;
  right: 20%;
}

.square_4{
  padding: 5% 10%;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 20%;
}

.vertical_1{
  padding: 45% 10%;
  background-color: black;
  position: absolute;
  bottom: 10%;
  right: 40%;
}

.horinzontal_1{
  padding: 10% 30% ;
  background-color: black;
  position: absolute;
  top: 0%;
  right: 40%;
}


.vertical_2{
  padding: 45% 10%;
  background-color: black;
  position: absolute;
  bottom: 10%;
  left: 40%;
}

.horinzontal_2{
  padding: 10% 30% ;
  background-color: black;
  position: absolute;
  top: 0%;
  left: 40%;
}

.vertical_3{
  padding: 45% 10%;
  background-color: black;
  position: absolute;
  top: 10%;
  left: 40%;
}

.horinzontal_3{
  padding: 10% 30% ;
  background-color: black;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.vertical_4{
  padding: 45% 10%;
  background-color: black;
  position: absolute;
  top: 10%;
  left: 40%;
}

.horinzontal_4{
  padding: 10% 30% ;
  background-color: black;
  position: absolute;
  bottom: 0%;
  left: 40%;
}
